@import url("https://use.typekit.net/vqg5cgq.css");

body {
    background-color: #111111;
    color: #fff2df;
    align-content: center;
    justify-content: center;
    font-size: 2vh;
}

.number {
    text-align: center;
    font-family: "jubilee-lines-mn", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1,
h2,
h3,
a {
    font-family: "embury-text", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
}

p {
    font-family: "hack", sans-serif;
    font-weight: 400;
    font-style: italic;
    margin: 0 20px; /* Default margin for smaller screens */
}

a {
    display: block;
    color: #fff2df;
    text-decoration: none;
    font-size: 3vh;
    line-height: 6vh;
}

.index {
    text-align: center;
    font-family: "jubilee-lines-mn", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* General img styles */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    width: 20%;
    height: auto;
}

/* Desktop-specific styling for p text */
@media (min-width: 1024px) {
    p {
        margin: 0 300px; /* Adds left and right margins for desktop */
    }
}

@media (max-width: 768px) {
    img {
        width: 80%;
    }
}

@media (max-width: 480px) {
    img {
        width: 100%;
    }
}
